@font-face {
    font-family: 'socicon';
    src: url("../font/socicon.eot");
    src: url("../font/socicon.eot?#iefix") format("embedded-opentype"), url("../font/socicon.woff") format("woff"), url("../font/socicon.ttf") format("truetype"), url("../font/socicon.svg#sociconregular") format("svg");
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon::before, [class^="socicon-"]::before, [class*=" socicon-"]::before {
    display: inline-block;
    font-family: 'socicon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Improve font-rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.socicon-behance::before {
    content: "\e027";
}

.socicon-blogger::before {
    content: "\e020";
}

.socicon-buffer::before {
    content: "\e018";
}

.socicon-coderwall::before {
    content: "\e011";
}

.socicon-deezer::before {
    content: "\e06c";
}

.socicon-delicious::before {
    content: "\e028";
}

.socicon-deviantart::before {
    content: "\e029";
}

.socicon-digg::before {
    content: "\e025";
}

.socicon-dribbble::before {
    content: "\e023";
}

.socicon-facebook::before {
    content: "\e041";
}

.socicon-feedburner::before {
    content: "\e048";
}

.socicon-goodreads::before {
    content: "\e014";
}

.socicon-google::before {
    content: "\e067";
}

.socicon-google-play::before {
    content: "\e02b";
}

.socicon-google-plus::before {
    content: "\e042";
}

.socicon-instagram::before {
    content: "\e057";
}

.socicon-linkedin::before {
    content: "\e049";
}

.socicon-mail::before {
    content: "\e01f";
}

.socicon-medium::before {
    content: "\e06d";
}

.socicon-mozilla-persona::before {
    content: "\e008";
}

.socicon-mumble::before {
    content: "\e07e";
}

.socicon-myspace::before {
    content: "\e04c";
}

.socicon-newsvine::before {
    content: "\e033";
}

.socicon-openid::before {
    content: "\e06f";
}

.socicon-outlook::before {
    content: "\e010";
}

.socicon-patreon::before {
    content: "\e01c";
}

.socicon-paypal::before {
    content: "\e00c";
}

.socicon-periscope::before {
    content: "\e00f";
}

.socicon-pinterest::before {
    content: "\e043";
}

.socicon-play-store::before {
    content: "\e02b";
}

.socicon-pocket::before {
    content: "\e01e";
}

.socicon-qq::before {
    content: "\e03a";
}

.socicon-quora::before {
    content: "\e073";
}

.socicon-reddit::before {
    content: "\e022";
}

.socicon-rss::before {
    content: "\e00b";
}

.socicon-sharethis::before {
    content: "\e069";
}

.socicon-skype::before {
    content: "\e046";
}

.socicon-stumbleupon::before {
    content: "\e024";
}

.socicon-telegram::before {
    content: "\e06e";
}

.socicon-tumblr::before {
    content: "\e059";
}

.socicon-twitter::before {
    content: "\e040";
}

.socicon-weibo::before {
    content: "\e060";
}

.socicon-whatsapp::before {
    content: "\e01b";
}

.socicon-wikipedia::before {
    content: "\e02d";
}

.socicon-wordpress::before {
    content: "\e058";
}

.socicon-yammer::before {
    content: "\e005";
}

.socicon-youtube::before {
    content: "\e051";
}

.socicon-instapaper::before {
    content: "\00399";
}

.rcno-share-buttons {
    margin: 1em 0;
}

.rcno-share-buttons .share-this {
    margin: 0 0 5px 0;
}

.share-this p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.rcno-share-buttons-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: start;
}

.rcno-share-buttons-list div {
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 10px 10px 0;
    font-size: 13px;
    line-height: 1;
    transition: all ease-in 1s;
    border-radius: 2px;
    /* color: black; */
}

.rcno-share-buttons-list div:last-child {
    margin: 0 0 10px 0;
}

.rcno-share-buttons-list div a {
    text-decoration: none;
    text-align: center;
    box-shadow: none;
    color: #fff;
    transition: all 0.3s;
    width: 100%;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    height: 100%;
}

.rcno-facebook-button {
    background-color: #3b5998;
    border: 1px solid #3b5998;
}

.rcno-facebook-button:hover,
.rcno-share-buttons-list .rcno-facebook-button a:hover {
    background-color: #fff !important;
    color: #3b5998;
}

.rcno-twitter-button {
    background-color: #4099ff;
    border: 1px solid #4099ff;
}

.rcno-twitter-button:hover,
.rcno-share-buttons-list .rcno-twitter-button a:hover {
    background-color: #fff !important;
    color: #4099ff;
}

.rcno-google-button {
    background-color: #c61800;
    border: 1px solid #c61800;
}

.rcno-google-button:hover,
.rcno-share-buttons-list .rcno-google-button a:hover {
    background-color: #fff !important;
    color: #c61800;
}

.rcno-pinterest-button {
    background-color: #c62e33;
    border: 1px solid #c62e33;
}

.rcno-pinterest-button:hover,
.rcno-share-buttons-list .rcno-pinterest-button a:hover {
    background-color: #fff !important;
    color: #c62e33;
}

.rcno-stumble-button {
    background-color: #f74425;
    border: 1px solid #f74425;
}

.rcno-stumble-button:hover,
.rcno-share-buttons-list .rcno-stumble-button a:hover {
    background-color: #fff !important;
    color: #f74425;
}

.rcno-tumblr-button {
    background-color: #34526f;
    border: 1px solid #34526f;
}

.rcno-tumblr-button:hover,
.rcno-share-buttons-list .rcno-tumblr-button a:hover {
    background-color: #fff !important;
    color: #34526f;
}

.rcno-reddit-button {
    background-color: #ff4500;
    border: 1px solid #ff4500;
}

.rcno-reddit-button:hover,
.rcno-share-buttons-list .rcno-reddit-button a:hover {
    background-color: #fff !important;
    color: #ff4500;
}

.rcno-pocket-button {
    background-color: #ef4056;
    border: 1px solid #ef4056;
}

.rcno-pocket-button:hover,
.rcno-share-buttons-list .rcno-pocket-button a:hover {
    background-color: #fff !important;
    color: #ef4056;
}

.rcno-digg-button {
    background-color: #005be2;
    border: 1px solid #005be2;
}

.rcno-digg-button:hover,
.rcno-share-buttons-list .rcno-digg-button a:hover {
    background-color: #fff !important;
    color: #005be2;
}

.rcno-instapaper-button {
     background-color: #428bca;
     border: 1px solid #428bca;
 }

.rcno-instapaper-button:hover,
.rcno-share-buttons-list .rcno-instapaper-button a:hover {
    background-color: #fff !important;
    color: #428bca;
}

.rcno-buffer-button {
    background-color: #168eea;
    border: 1px solid #168eea;
}

.rcno-buffer-button:hover,
.rcno-share-buttons-list .rcno-buffer-button a:hover {
    background-color: #fff !important;
    color: #168eea;
}

.rcno-email-button {
    background-color: #168eea;
    border: 1px solid #168eea;
}

.rcno-email-button:hover,
.rcno-share-buttons-list .rcno-email-button a:hover {
    background-color: #fff !important;
    color: #168eea;
}

.rcno-share-buttons-list div i {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 0 5px 0 0;
    border-radius: 50%;
    padding: 0px 2px;
    font-style: normal;
}

.rcno-share-buttons-list div a p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.settings-page {
    width: 95%;
    margin: 0 auto;
}
