/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.rcno-recent-review {
    margin: 0 0 20px 0;
    width: 100%;
    overflow: hidden;
}

.rcno-recent-review h3 {
    font-size: 14px !important;
    text-transform: uppercase;
    margin: 0 !important;
    font-weight: 600;
}

.rcno-recent-review .widget-book-details {
    float: right;
    width: 70%;
}

.rcno-recent-review .widget-book-details p {
    font-size: 12px;
    line-height: 1.5;
}

.rcno-recent-review .widget-book-cover {
    width: 26%;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
}

.rcno-recent-review .widget-book-cover .rcno-admin-rating {
    position: absolute;
    bottom: 3px;
    text-align: center;
    width: 100%;
}

.rcno-recent-review .widget-book-cover .rcno-admin-rating span {
    font-size: 18px;
}

.rcno-recent-review .widget-book-details p {
    line-height: 1.2 !important;
}

.rcno-book-slides img {
    width: 100%;
}

.rcno-book-slider-container {
    width: 325px;
    position: relative;
}

.rcno-book-slider-container .owl-stage .owl-item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-stage .owl-item .rcno-admin-rating {
    position: absolute;
    bottom: 0;
}

.rcno-book-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rcno-book-grid-container .book-grid-item {
    flex-basis: 85px;
    margin: 2px;
}
