/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.rcno-recent-review {
    margin: 0 0 20px 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: left;
}

.rcno-recent-review h3 {
    font-size: 14px !important;
    text-transform: uppercase;
    margin: 0 !important;
    font-weight: 600;
}

.rcno-recent-review .widget-book-details {
    float: right;
    width: 70%;
    flex: 1 1 70%;
}

.rcno-recent-review .widget-book-details p {
    font-size: 12px;
    line-height: 1.5;
}

.rcno-recent-review .widget-book-cover {
    width: 25%;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    flex: 1 1 25%;
}

.rcno-recent-review .widget-book-cover .rcno-admin-rating {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.rcno-recent-review .widget-book-cover .rcno-admin-rating span {
    font-size: 1em;
    line-height: 1;
}

.rcno-recent-review .widget-book-details p {
    line-height: 1.2 !important;
}

.rcno-book-slides img {
    width: 100%;
}

.rcno-book-slider-container {
    width: 325px;
    position: relative;
}

.rcno-book-slider-container .owl-stage .owl-item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-stage .owl-item .rcno-admin-rating {
    position: absolute;
    bottom: 0;
}

.rcno-book-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rcno-book-grid-container .book-grid-item {
    flex-basis: 85px;
    margin: 2px;
}

.rcno-currently-reading-widget-fe {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 0 5px 0;
}

.rcno-currently-reading-widget-fe .book-cover {
    width: 80px;
    margin: 0 10px 0 0;
    display: inline-block;
    text-align: center;
}

.rcno-currently-reading-widget-fe .book-cover span {
    font-size: 1.4em;
    font-weight: bold;
}

.rcno-currently-reading-widget-fe .book-progress {
     width: 100%;
     display: inline-block;
     flex: 1;
}

.rcno-currently-reading-widget-fe .book-progress h3,
.rcno-currently-reading-widget-fe .book-progress p {
    margin: 0 0 5px 0;
    line-height: 1.3;
}

.rcno-currently-reading-widget-fe .book-progress p {
    font-size: .9em;
}

.rcno-currently-reading-widget-fe .book-cover .progress-bar-container {
    height: 100%;
    position: relative;
}

.rcno-currently-reading-widget-fe .book-cover .progress-bar {
    background: rgba(0, 0, 0, 0.44);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.rcno-review-coming-soon p {
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid;
    padding: 5px;
}

.rcno-book-grid-index-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.rcno-book-grid-item {
    position: relative;
    flex: 0 1 200px;
    margin: 0 10px 10px 0;
}

.rcno-book-grid-item p {
    position: absolute;
    bottom: 0;
    display: none;
}

.rcno-book-grid-item img {
    width: 100%;
    margin: 0;
}
