/*
*   I am being super specific with some CSS selectors
*   to main consistent style among many WP themes.
*/

#rcno-review-score-box {
    background: #f5f2dd;
    padding: 10px;
    margin: 0 0 2em;
}

#rcno-review-score-box ul {
    list-style: none;
}

#rcno-review-score-box .review-summary {
    margin: 0 0 1em 0;
}

#rcno-review-score-box ul li .rcno-review-score-bar-container {
    height: 40px;
    background: #ccc;
    overflow: hidden;
    margin: 0 0 1em 0;
    position: relative;
}

#rcno-review-score-box ul li .review-score-bar {
    background: green;
}

#rcno-review-score-box ul li .review-score-bar span.score-bar {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
}

#rcno-review-score-box ul li .rcno-review-score-bar-container span.right {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    z-index: 9999;
    position: absolute;
    right: 10px;
    top: 6px;
}

#rcno-review-score-box span.badge-star {
    color: #FFC107;
}

#rcno-review-score-box .review-summary .overall-score {
    width: 120px;
    height: 120px;
    background: green;
    padding: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
}

#rcno-review-score-box .review-summary .review-text {
    width: 74%;
    display: inline-block;
    max-height: 120px;
    margin: 0 0 0 10px;
    float: right;
}

#rcno-review-score-box .review-summary .review-text h2 {
    margin: 0;
    font-weight: 600;
}

#rcno-review-score-box .review-summary .review-text p {
    margin: 0;
    font-size: .9em;
    line-height: 1.2;
}

#rcno-review-score-box .review-summary .overall-score .overall {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    display: block;
    line-height: 1;
    padding: 10px;
}

#rcno-review-score-box .review-summary .overall-score .overall-text {
    color: #fff;
    font-size: 13px;
    display: block;
    line-height: 1;
    bottom: 0;
    text-transform: uppercase;
    position: absolute;
    padding: 10px 7px;
    background: black;
    left: 0;
}

#rcno-review-score-box .review-summary .overall-text {
    padding: 5px;
    display: inline-block;
}

.rcno-review-badge {
    width: 100px;
    height: 100px;
    background: #008000;
    margin: 1em 0;
    display: inline-block;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.rcno-full-book {
    margin: 1em 0;
}

.rcno-full-book .rcno-full-book-cover img.rcno-book-cover,
.review-content .book-cover-container .book-cover img.rcno-book-cover{
    width: 100%; /* Twenty Ten does not do this for some strange reason */
    height: auto;
    display: block;
}

.rcno-full-book-cover {
    width: 35%;
    background: rgba(96, 125, 139, 0.36);
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
}

.rcno-full-book-details .rcno-full-book-cover img {
    max-width: 200px;
}

.rcno-full-book-details {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 1em 0;
    width: 60%;
    display: inline-block;
}

.rcno-full-book-description {
    font-size: 13px;
    line-height: 1.6;
    width: 60%;
    display: inline-block;
}

.rcno-admin-rating span {
    color: gold;
    position: relative;
    font-size: 35px;
}

.rcno-full-book-cover .rcno-admin-rating {
    background: rgba(255, 87, 34, 0.8);
    width: 100%;
    text-align: center;
    line-height: 1;
}

.review-content .book-cover-container {
    position: relative;
    width: 45%;
    float: left;
    margin: 0 15px 0 0;
    overflow: hidden;
}

.review-content .book-cover-container .book-cover {
    position: relative;
}

.review-content .book-cover-container .book-cover .rcno-admin-rating {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.review-content .book-cover-container .book-info {
    position: absolute;
    background: rgba(86, 160, 0, 0.8);
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 5px;
    text-align: center;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.review-content .book-cover-container .book-info h2 {
    color: #fff !important;
    margin: 2em 0 10px 0 !important;
}

.review-content .book-cover-container:hover .book-info {
    transform: translateY(-100%);
}

.review-content .book-cover-container .book-info p,
.review-content .book-cover-container .book-info a {
    color: #fff;
    margin: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
}