.rcno-full-book-description::-webkit-scrollbar {
    width: .5em;
}

.rcno-full-book-description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.rcno-full-book-description::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#rcno-review-score-box {
    padding: 10px;
}

#rcno-review-score-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: right;
}

#rcno-review-score-box .review-summary {
    margin: 0 0 .5em 0;
}

#rcno-review-score-box .review-summary .review-text h2 {
    margin: 0 0 10px 0;
}

#rcno-review-score-box .review-summary .review-text {
    width: 78%;
    width: calc(100% - 150px);
    display: inline-block;
}

#rcno-review-score-box .review-summary .review-text p {
    line-height: 1.2;
    height: 4.8em;
    overflow: hidden;
    margin: 0;
}

#rcno-review-score-box ul li .rcno-review-score-bar-container {
    height: 40px;
    background: #ccc;
    overflow: hidden;
    margin: 0 0 1em 0;
    position: relative;
}

#rcno-review-score-box ul li .review-score-bar {
    background: green;
}

#rcno-review-score-box ul li .review-score-bar span.score-bar {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
}

#rcno-review-score-box ul li .rcno-review-score-bar-container span.right {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    z-index: 9999;
    position: absolute;
    right: 10px;
    top: 6px;
}

#rcno-review-score-box span.badge-star {
    color: #FFC107;
}

#rcno-review-score-box .review-summary .overall-score {
    width: 120px;
    height: 120px;
    background: green;
    padding: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 15px 0 0;
}

#rcno-review-score-box .review-summary .overall-score .overall {
    color: #fff;
    font-size: 55px;
    font-weight: 800;
    display: block;
    line-height: 1;
    padding: 10px;
}

#rcno-review-score-box .review-summary .overall-score .overall-text {
    color: #fff;
    font-size: 13px;
    display: block;
    line-height: 1;
    bottom: 0;
    text-transform: uppercase;
    position: absolute;
    padding: 10px 7px;
    background: black;
    left: 0;
}

#rcno-review-score-box .review-summary .overall-text {
    padding: 5px;
    display: inline-block;
}

.rcno-full-book {
    margin: 0 0 1em 0;
}

.rcno-full-book:after {
    content: "";
    display: block;
    clear: both;
}

.rcno-full-book .rcno-full-book-cover img.rcno-book-cover {
    width: 100%;
    /* Twenty Ten does not do this for some strange reason */
    height: auto;
    display: block;
}

.rcno-full-book-cover {
    width: 200px;
    background: rgba(96, 125, 139, 0.36);
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
}

.rcno-full-book-details .rcno-full-book-cover img {
    max-width: 200px;
}

.rcno-full-book-details {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 10px 0;
    clear: left;
    display: inline-block;
}

.rcno-full-book-description {
    font-size: .8em;
    line-height: 1.5;
    clear: left;
    display: inline-block;
    width: calc(100% - 220px);
    height: 13.5em;
    overflow: auto;
}

.rcno-admin-rating span {
    color: gold;
    position: relative;
    font-size: 35px;
}

.rcno-full-book-cover .rcno-admin-rating {
    background: rgba(78, 78, 78, 0.50);
    width: 100%;
    text-align: center;
    line-height: 1;
    position: absolute;
    bottom: 0;
}

ul.rcno-alphabet-navigation {
    list-style: none;
}

ul.rcno-alphabet-navigation li {
    float: left;
    margin: 0 15px 0 0;
}

ul.rcno-taxlist li {
    margin: 0 0 0 2em;
}