/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#rcno_reviews_settings[rcno_author_hierarchical] {

}

 .rcno-ajax-loading {
   background: url(../images/spinner.gif) no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  float: right;
  vertical-align: middle;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 20px;
  height: 20px;
  margin: 4px 4px 0;
  display: none;
 }

.book-isbn-metabox-error {
    background: #F44336;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    display: none;
}

.book-isbn-metabox-error p {
    padding: 3px;
}

.form-table h2.section-heading {
 font-size: 20px !important;
 padding: 0 .5em !important;
 font-weight: 600 !important;
 border: 1px solid #b5b5b5;
 background: #efefef;
}

.book-general-info-metaboxes input {
    width: 100%;
}

.book-general-metabox-1,
.book-general-metabox-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-general-metabox-1 .publisher-info,
.book-general-metabox-1 .publication-date,
.book-general-metabox-1 .publication-format,
.book-general-metabox-1 .publication-edition,
.book-general-metabox-1 .publication-page-count,
.book-general-metabox-1 .publication-gr-review {
    flex-basis: 16%;
    display: inline-block;
    position: relative;
    margin: 1em 0 0 0;
}

.book-general-metabox-2 .publication-gr-id,
.book-general-metabox-2 .publication-isbn13,
.book-general-metabox-2 .publication-asin,
.book-general-metabox-2 .publication-gr-url {
    flex-basis: 15%;
    display: inline-block;
    position: relative;
    margin: 1em 10px 0 0;
}

.book-general-metabox-2 .publication-gr-url {
    flex: 2;
    margin-right: 0;
}

.review-score-metabox-container {
    display: flex;
}

.review-score-rating-enable,
.review-score-rating-type,
.review-score-rating-position {
    margin: 0 0 15px 0;
}

.review-score-rating-type label,
.review-score-rating-position label,
.review-score-rating-enable label {
    display: block;
    margin: 0 0 7px;
    font-weight: 700;
}


#rcno_book_review_rating_metabox .inside {
    min-height: 25px;
    margin: 1em 0 0 0;
}

#rcno_book_review_rating_metabox .rcno-rate {
    height: 25px;
    padding: 0 10px;
    float: left;
}

#rcno_book_review_rating_metabox .rcno-rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

#rcno_book_review_rating_metabox .rcno-rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    height: 25px;
}

#rcno_book_review_rating_metabox .rcno-rate:not(:checked) > label:before {
    content: '★ ';
}

#rcno_book_review_rating_metabox .rcno-rate > input:checked ~ label {
    color: #ffc700 !important;
}

#rcno_book_review_rating_metabox .rcno-rate:not(:checked) > label:hover,
#rcno_book_review_rating_metabox .rcno-rate:not(:checked) > label:hover ~ label {
    color: #deb217 !important;
}

#rcno_book_review_rating_metabox .rcno-rate > input:checked + label:hover,
#rcno_book_review_rating_metabox .rcno-rate > input:checked + label:hover ~ label,
#rcno_book_review_rating_metabox .rcno-rate > input:checked ~ label:hover,
#rcno_book_review_rating_metabox .rcno-rate > input:checked ~ label:hover ~ label,
#rcno_book_review_rating_metabox .rcno-rate > label:hover ~ input:checked ~ label {
    color: #c59b08 !important;
}

#rcno_book_review_rating_metabox .rcno-rate input[type=radio]:checked+label:before {
    color: #c59b08 !important;
}

tr.rcno_review_template > td {
    background: rgba(255, 0, 0, 0.08);
    display: flex;
    line-height: 0;
}

tr.rcno_review_template > td .template-options.checked {
    border: 5px solid red;
}

tr.rcno_review_template > td .template-options {
    margin: 0 1em;
    position: relative;
}

tr.rcno_review_template > td input[type=radio] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    display: none;
}

.rcno_review_template img.template-label-image {
    width: 150px;
    height: 255px;
}

tr.rcno_review_slug_instructions {
    /*color: red;*/
    font-size: 11px !important;
    background: rgba(255, 0, 0, 0.04);
}

tr.rcno_review_slug_instructions > td {
    padding: 0 10px;
}

tr.rcno_review_slug_instructions > td > p,
tr.rcno_review_slug_instructions > th {
    font-size: 12px !important;
    color: red;
}


