/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .rcno-ajax-loading {
   background: url(../images/spinner.gif) no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  float: right;
  vertical-align: middle;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 20px;
  height: 20px;
  margin: 4px 4px 0;
  display: none;
 }

.book-isbn-metabox-error {
    background: #F44336;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    display: none;
}

.book-isbn-metabox-error p {
    padding: 3px;
}

.form-table h2.section-heading {
 font-size: 20px !important;
 padding: 0 .5em !important;
 font-weight: 600 !important;
 border: 1px solid #b5b5b5;
 background: #efefef;
}

.book-general-info-metaboxes input {
    width: 100%;
}

.book-general-metabox-1,
.book-general-metabox-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-general-metabox-1 .publisher-info,
.book-general-metabox-1 .publication-date,
.book-general-metabox-1 .publication-format,
.book-general-metabox-1 .publication-page-count,
.book-general-metabox-1 .publication-gr-review {
    flex-basis: 19%;
    display: inline-block;
    position: relative;
    margin: 1em 0 0 0;
}

.book-general-metabox-2 .publication-gr-id,
.book-general-metabox-2 .publication-isbn13,
.book-general-metabox-2 .publication-asin,
.book-general-metabox-2 .publication-gr-url {
    flex-basis: 15%;
    display: inline-block;
    position: relative;
    margin: 1em 10px 0 0;
}

.book-general-metabox-2 .publication-gr-url {
    flex: 2;
    margin-right: 0;
}

.review-score-metabox-container {
    display: flex;
}

.review-score-rating-enable,
.review-score-rating-type,
.review-score-rating-position {
    margin: 0 0 15px 0;
}

.review-score-rating-type label,
.review-score-rating-position label,
.review-score-rating-enable label {
    display: block;
    margin: 0 0 7px;
    font-weight: 700;
}

