/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .rcno-ajax-loading {
   background: url(../images/spinner.gif) no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  display: inline-block;
  float: right;
  vertical-align: middle;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 20px;
  height: 20px;
  margin: 4px 4px 0;
  display: none;
 }

.form-table h2.section-heading {
 font-size: 20px !important;
 padding: 0 .5em !important;
 font-weight: 600 !important;
 border: 1px solid #b5b5b5;
 background: #efefef;
}