/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .rcno-ajax-loading {
   background: url(../images/spinner.gif) no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  float: right;
  vertical-align: middle;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 20px;
  height: 20px;
  margin: 4px 4px 0;
  display: none;
 }

.book-isbn-metabox-error {
    background: #F44336;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    display: none;
}

.book-isbn-metabox-error p {
    padding: 3px;
}

.form-table h2.section-heading {
 font-size: 20px !important;
 padding: 0 .5em !important;
 font-weight: 600 !important;
 border: 1px solid #b5b5b5;
 background: #efefef;
}

.book-general-info-metabox {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.publisher-info,
.publication-date,
.publication-format,
.publication-page-count,
.publication-gr-review,
.publication-gr-id,
.publication-isbn13,
.publication-asin,
.publication-gr-url {
 width: 19%;
 display: inline-block;
 position: relative;
 margin: 1em 0 0 0;
}

.publisher-info input#rcno_book_publisher,
.publication-date input#rcno_book_pub_date,
.publication-format input#rcno_book_pub_format,
.publication-page-count input#rcno_book_page_count,
.publication-gr-review input#rcno_book_gr_review {
 width: 100%;
}

